@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared styles  */
.section-title {
    font-size: 2.8125rem;
    font-weight: 700;
}

.dark-1 {
    color: rgba(19, 19, 19, 1);
}

.dark-2 {
    color: rgba(66, 66, 66, 1);
}

.dark-3 {
    color: rgba(114, 114, 114, 1);

}

.primary-color {
    color: rgba(255, 144, 14, 1);
}

.primary-btn {
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Header styles  */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 45px;
}

/* navbar styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    padding: 50px 10px;
}

.nav-title {
    font-size: 2.8125rem;
    font-weight: 700;
}

.navbar ul {
    display: flex;
    gap: 60px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

/* banner style start  */
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 862px;
    margin: 110px auto 50px;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    margin: 32px 0;
}

.banner-image img {
    width: 100%;
}

/* main style start  */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
}

/* Grid feature section start */
.grid-feature-container {
    display: flex;
    align-items: center;
    gap: 70px;
    max-width: 1350px;
    margin: 100px auto 0;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* padding: 0 20px; */
}
/* .grid-content img {
    width: 100%;
} */

.feature-title {
    font-size: 2.8125rem;
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.feature-description {
    margin: 24px 0 32px;
}

/* some facts style start */
.some-facts {
    max-width: 1350px;
    margin: auto;
    padding: 0 20px;
}

.facts-description {
    margin: 24px 0;
    max-width: 542px;
}

.items {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 40px 60px;
    text-align: center;
}

.icon-project-container {
    display: grid;
    column-gap: 124px;
    row-gap: 20px;

    grid-template-columns: repeat(4, 1fr);

}

.numbers {
    font-weight: 600;
    font-size: 2.8125rem;
}

.details {
    font-weight: 600;
    font-size: 1.25rem;
}

/* sponsors section start  */
.sponsors-content {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-description {
    max-width: 542px;
    margin: auto;
    margin-top: 24px;
}

.sponsors-name {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.sponsors-items {
    filter: grayscale(100%);
}

/* footer section start  */
.footer {
    max-width: 1440px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
    padding: 40px 20px;
    margin-top: 130px;
    margin-bottom: 150px;

}
.footer-description {
    font-size: 1.25rem;
}
/* love-enjoy sectioin start  */
.love-enjoy-section {
    display: flex;
    gap: 146px;
    margin-bottom: 130px;
}
.section-content {
    margin-top: 30px;
    flex: 1;
}
.content {
    margin-bottom: 30px;
}
.content-title {
    padding-left: 5px;
    max-width: 460px;
 border-left: 5px solid #FF900E;
 margin-bottom: 24px;
}
.feature-items {
border-radius: 8px;
padding: 30px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
margin-bottom: 20px ;
}
.items-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.image-container {
    flex: 1;
}
.image-container img {
   width: 100%;
}
.image-container button  {
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -120px;
}
.exp-title {
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.exp-description {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}
/* .image-container img {
    width: 100%;
} */

/* header responsive media querys  */

/* small devices */
@media screen and (max-width:576px) {

    .navbar,
    .navbar ul,
    .grid-feature-container,
    .love-enjoy-section
    {
        flex-direction: column;

    }

    .navbar,
    .navbar ul {
        gap: 10px;
        text-align: center;
    }
  
    .banner-content {
        margin: 50px auto 50px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-image {
        padding: 0 10px;
    }

    .feature-content {
        text-align: center;
        padding: 20px;
    }

    .feature-description {
        text-align: justify;
    }

    .grid-content {
        grid-template-columns: 1fr;
    }
       .grid-content img {
        width: 100%;
    }

    .icon-project-container {
        grid-template-columns: 1fr;

    }

    .some-facts {
        text-align: center;
    }

    .sponsors-name {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .content {
        padding: 0 20px;
    }
    .content-title {
        font-size: 2.3rem;
    }
    .image-container {
        text-align: center;
        padding: 0 20px;
    }
    .image-container button {
       margin:20px auto;
    }
  .image-container img {
    width: 100%;
  }
  .love-enjoy-section {
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

}

/* tablet devices */
@media screen and (min-width:577px) and (max-width: 990px) {

    .navbar,
    .grid-feature-container,
    .love-enjoy-section {
        flex-direction: column;
    }

    .navbar {
        gap: 10px;
    }
      .banner {
        margin-top: -80px;
    }

    .feature-content {
        text-align: center;
        padding: 20px;
    }

    .feature-description {
        text-align: justify;
    }

    .icon-project-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;

    }

    .sponsors-name {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
      .grid-content {
        padding: 20px;
    }
      .grid-content img {
        width: 100%;
    }
        .content {
        padding: 0 20px;
    }
    .image-container {
        text-align: center;
        padding: 0 20px;
    }
    .image-container button {
       margin:20px auto;
    }
  .image-container img {
    width: 100%;
  }
  .love-enjoy-section {
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}